<div class="container">
    <div class="row">
        <%= form_for(@article) do|f|%>
        <div class="col-md-12">
            <%= render 'shared/errors', object: f.object%>
            <%= f.text_field :title, placeholder:"Title"%>
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
            <%= b.check_box %>
            <%= b.label %>
            <%end%>
        </div>
        <div class="col-md-12">
            <%= f.text_area :text,:cols => "100", :rows => "10", id:"text"%>
        </div>
        <div class="col-md-12">
            <%= f.file_field :image%>
            <%= f.submit "Post", class:"btn btn-primary",id:"Choose"%>
        </div>
        <%end%>
    </div>
</div>