    <div class="blog-header">
      <div class="container">
          <%if @article %>
        <h1 class="blog-title"><%= @article.title%></h1>
        <% if current_user%>
            <small class="text-muted"><%= vote_devote2(@article)%></small>
            <%end%>
            <small class="text-muted">Count <%= vote_count(@article)%></small>
      </div>
    </div>
<div class="container">

      <div class="row">
      <div class="col-sm-12 col-lg-5">
        <%= image_tag(@article.image,class:"card-img")%>
       </div>
        <div class="col-sm-12 col-md-6 col-lg-7 blog-main">
          <div class="blog-post">
          <p class="card-text"><%= @article.text%></p>
          <%if current_user%>
          <small class="text-muted"><%= delete(@article)%></small>
          <%end%>
          </div>
        </div>
    </div>
</div>
<%end%>