<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to "Home", root_path, class:"nav-link"%>
            </li>
        </ul>
        <% @categories.each do |cat|%>
        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to "#{cat.name}", category_path(cat), class:"nav-link"%>
            </li>
        </ul>
        <%end%>
    </div>
    <ul class="navbar-nav">
        <% if current_user%>
        <li class="nav-item">
            <%= link_to "Write Article",new_article_path, class:"nav-link"%>
        </li>
        <li class="nav-item d-flex">
            <%= link_to "Signout", logout_path, method: :delete ,class:'nav-link'%>
        </li>
        <%else%>
        <li class="nav-item">
            <%= link_to "Log In",login_path, class:"nav-link"%>
        </li>
        <li class="nav-item d-flex">
            <%= link_to "Register",new_user_path, class:"nav-link"%>
        </li>
        <%end%>
    </ul>
</nav>