<% all_articles %>
<% ref = 0%>
<% @art.each do |art|%>
<% count = art.votes.count %>
<%if count > ref%>
<% ref = count%>
<% article = art %>
<div class=container-fluid>
    <div class="row">
        <div class="card featured bg-dark text-white col-sm-12 col-lg-8">
            <%= image_tag(article.image,class:"featured")%>
            <div class="overlay">
                <h5 class="card-title"><%= link_to "#{article.title}", article_path(article)%></h5>
                <%if art.text.length > 50 %>
                <%= truncate(article.text,length:50)%><%= link_to "read more", article_path(article)%></p>
                <%else%>
                <h5 class="card-text"><%= article.text%> </h5>
                <%end%>

            </div>
        </div>
        <%end%>
        <%end%>
        <% @categories.each do |cat|%>
        <%if most_recent(cat)%>
        <% @most_recent.each do |art|%>
        <div class="card bg-dark col-sm-12 col-lg-4 flex-wrap">
            <%= link_to image_tag(art.image , class:'card-img'),  article_path(art)%>

            <div class="card-img-overlay text-white">
                <%= link_to "#{cat.name}", category_path(cat), class:"card-title cat d-flex text-white"%>
            </div>
            <div class="overlay">
                <h5 class="card-title"><%= link_to "#{art.title}", article_path(art)%></h5>

            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>