<% all_articles %>
<% ref = 0%>
<% @art.each do |art|%>
<% count = art.votes.count %>
<%if count > ref%>
<% ref = count%>
<div class=container-fluid>
    <div class=row>
        <div class="col-md d-flex flex-wrap">
            <div class="card featured bg-dark text-white ml-2 mt-1">
                <%= image_tag(art.image,class:"featured")%>
                <div class="overlay">
                    <h5 class="card-title"><%= art.title%></h5>
                    <h5 class="card-title"><%= art.text%></h5>
                </div>
            </div>
            <% @categories.each do |cat|%>
            <%if most_recent(cat)%>
            <% @most_recent.each do |art|%>
            <div class="card bg-dark text-white ml-2 mt-1">
                <%= image_tag(art.image,class:"card-img")%>
                <div class="overlay">
                    <h5 class="card-title"><%= cat.name%></h5>
                    <h5 class="card-title"><%= art.title%></h5>
                </div>
            </div>
            <%end%>
            <%end%>
            <%end%>
        </div>
    </div>
</div>
<%end%>
<%end%>