<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link"%>
      </li>
     <%categories%>
     <% @categories.each do |cat|%>
      <li class="nav-item">
        <%= link_to "#{cat.name}", category_path(cat), class:"nav-link"%>
      </li>
      <%end%>
    </ul>
        <ul class="navbar-nav">
        <% if current_user%>
        <li class="nav-item">
            <%= link_to "Write Article",new_article_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
            <%= link_to "Add Category",new_category_path, class:"nav-link"%>
        </li>
        <li class="nav-item d-flex">
            <%= link_to "Signout", logout_path, method: :delete ,class:'nav-link'%>
        </li>
        <%else%>
        <li class="nav-item">
            <%= link_to "Log In",login_path, class:"nav-link"%>
        </li>
        <li class="nav-item d-flex">
            <%= link_to "Register",new_user_path, class:"nav-link"%>
        </li>
        <%end%>
    </ul>
  </div>
</nav>